<table class="table">
  <tr>
    <th><h2>Home</h2></th>
    <th><%= link_to '投稿', new_public_tweet_path %></th>
  </tr>
</table>
 <% @tweets.each do |tweet| %>
  <%= link_to tweet.body, public_tweet_path(tweet) %>
  <%#= attachment_image_tag tweet, :image, :fill, 50,50, format:'jpeg' %>
   <div id="favorite_buttons_<%= tweet.id %>">
    <%#= render 'public/favorite/favorite', locals: { public_tweet: @tweet} %>
    <%= render 'public/favorite/favorite', tweet: tweet %>
   </div>
 <% end %>