<div class="container">
  <div class="row">
    <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
      <h3>welcom!</h3>
      <h1>
        ここはあなたという一人の人間のことをみんなに知ってもらう場です。<br>
        節度ある発言を心がけましょう心掛けましょう！
      </h1>
    </div>
  </div>
  <div claas="btn-wrapper col-10 mx-auto">
    <div class="row">
     <%= link_to "Log in", new_user_session_path, class: "btn btn-info btn-sm btn-block mb-3 sign_in" %>
    </div>
    <div claas="row">
     <% link_to "Sing_up", nwe_user_registration, class: "btn btn-success btn-sm btn-block sign_up" %>
    </div>
  </div>
</div>
